* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: transparent;
  outline: none;
}

.game {
  width: 100%;
  height: 100vh;
  background-color: black;
  background-image: url(img/background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.interface {
  width: 20%;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.play_btn {
  width: 80px;
  height: 80px;
  border: 5px solid black;
  background-color: wheat;
  border-radius: 20px;
  color: black;
  font-size: 36px;
  cursor: pointer;
}


.timer {
  width: 250px;
  height: 80px;
  margin: 30px auto;
  padding: 10px 0;
  border: 5px solid black;
  border-radius: 20px;
  background-color: cornsilk;
  color: black;
  font-size: 40px;
  line-height: 60px;
  font-weight: 500;
}

.counter {
  width: 80px;
  height: 80px;
  border: 5px solid black;
  border-radius: 40px;
  background-color: palevioletred;
  color: whitesmoke;
  font-size: 40px;
  line-height: 80px;
  font-weight: 500;
}

.field {
  width: 100%;
  height: 50vh;
  position: absolute;
  bottom: 0; left: 0;
}

.item {
  position: absolute;
  top: 0; left: 0;
  cursor: pointer;
}

.carrot {
  transform: translate(100px, 200px);
}

.bug {
  transform: translate(600px, 200px);
}


.alert {
  padding: 50px 20px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  z-index: 100;
  text-align: center;
  font-size: 3rem;
  background-color: rgba(50, 20, 20, 0.7);
  border: 10px solid black;
  border-radius: 50px;
}

.alert h2 {
  color: azure;
}

.win {
  display: none;
}
.lose {
  display: none;
}